.job-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 181px);
  border: 1px solid var(--shadow-color);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.job-content .job-info-content {
  border-right: 1px solid var(--shadow-color);
  padding: 20px 10px;
  width: 25rem;
  height: 100%;
}

.job-content .job-info-content .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
}

.job-content .job-info-content .title i {
  font-size: 1.2rem;
}

.job-content .job-info-content .title h2 {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.job-content .job-info-content button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  width: 100%;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.2);
}

.job-content .job-info-content button:disabled {
  cursor: not-allowed;
}

.job-content .job-info-content button.status.onQueue i {
  color: var(--chip-bg-warning);
}

.job-content .job-info-content button.status.onQueue i {
  color: var(--chip-bg-warning);
}

.job-content .job-info-content button.status.executingRPA i,
.job-content .job-info-content button.status.executingIntegration i {
  color: var(--chip-bg-primary);
}

.job-content .job-info-content button.status.error i {
  color: var(--chip-bg-danger);
}

.job-content .job-info-content button.status.canceled i {
  color: var(--chip-bg-secondary);
}

.job-content .job-info-content button.status.done i {
  color: var(--chip-bg-success);
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--shadow-color);
  margin: 20px auto;
}

.job-telemetry {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.job-telemetry h3 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  margin-bottom: 25px;
}

.job-telemetry p {
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 980px) {
  .job-content {
    flex-direction: column;
    height: auto;
    min-height: 150px;
    justify-content: center;
  }

  .job-content .job-info-content {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid var(--shadow-color);
  }

  .job-telemetry {
    width: 100%;
    height: auto;
  }
}
